<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mashjulal.android.taplan">

    <application
        android:name=".TaplanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.task.AboutTaskActivity" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:label="" />
        <activity
            android:name=".presentation.splashscreen.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.dailyschedule.DailyScheduleActivity" />
        <activity android:name=".presentation.edittask.EditTaskActivity" />

        <provider
            android:authorities="com.mashjulal.android.taplan.workmanager-init"
            android:name="androidx.work.impl.WorkManagerInitializer"
            tools:node="remove"
            android:exported="false"/>
    </application>

</manifest>